/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;



.mySlides {
	display: none;
}
.active {
	background-color: black;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1s;
}

@keyframes fade {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}
.PrettyRotate {
	transition: all 200ms;
	transform: rotate(90deg) translateY(5px) translateY(-1px);
}
.PrettyRotate .topBorder {
	transition: all 500ms;
	transform: rotate(45deg) translateX(6px) translateY(-5px);
}
.PrettyRotate .middleBorder {
	visibility: hidden;
}
.PrettyRotate .bottomBorder {
	transform: rotate(-45deg) translateX(12px) translateY(1px);
}
